.App {

}


.App-header {
  background-color: #5ca5a5;
  max-width: 100%;
}

.App-header img {
  width:100%;
}

h1 { font-color:white;}

.App-link {
  color: #5ca5a5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}