.joblisting {
    display:flex;
    justify-content: space-between;
    box-shadow: 0 15px 20px -5px rgba(13,113,130,0.15);
    background-color: white;
    border-radius: 5px;
    max-width: 960px;
    padding: 2.5rem;
    margin: 3rem auto;
}

.featuredlisting {
    border-left: 5px solid #5CA5A5;
}

.job-info {
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    /* width: 50%; */
}

.job-info img {
    width: 100px;
    padding: 1rem;
}

h3 {
    font-size: 1.8rem;
    color: #5CA5A5;
    letter-spacing: 0;
    font-weight:bold;
}

h4 {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    line-height: 1.4rem;
    height:1.4rem;
    margin-left: 10px;
    border-radius: 13px;
    font-weight:bold;
}

.new {
    color: white;
    background-color: #5CA5A5;
}

.featured {
    color: white;
    background-color: #2B3939;
}

h2 {
    font-size: 2.0rem;
    color: #2B3939;
    letter-spacing: 0;
    font-weight: bold;
}

h2:hover {
    color: #5CA5A5;
}

.joblisting div .row {
    display:flex;
    flex-direction:row;
    align-items: center;
    padding: .75rem 0;
}

.row p {
    font-size:1.6rem;
    color: #7C8F8F;
    letter-spacing: 0.5px;
    font-weight: lighter;
}

.row span {
    padding: 0 1rem;
    font-size:3.0rem;
    line-height:1.5rem;
    color: #7C8F8F;
}

.job-right {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    max-width: 50%;
    justify-content: space-evenly;
}

.job-filters {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.jobfilter {
    padding: 1rem;
    background: #f0f7f7;
    /* height: 2.5rem; */
    border-radius: 4px;
    font-size: 1.4rem;
    color: #5CA5A5;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height:1.4rem;
    margin: 0.5rem 0.5rem;
    border: none;
}

.jobfilter:hover {
    cursor:pointer;
    background: #5CA5A5;
    color:white;
}

.download {
    padding: 1rem;
    text-decoration: none;
    background: #2B3939;
    /* height: 2.5rem; */
    border-radius: 4px;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height:1.4rem;
    margin: 0.5rem 0.5rem;
    border: 1px #2B3939 solid;
}

.download:hover {
    cursor:pointer;
    background: white;
    border: 1px #2B3939 solid;
    color:#2B3939;
}

@media all and (max-width:900px) {
    .joblisting {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 4rem;
        flex-direction:column;
    }

    .job-info {
        flex-direction: column;
        align-items: start;
        padding-bottom: 2rem;
    }

    .job-info img {
        width: 50px;
        padding: 0;
        margin-top: -6.5rem;
    }
    .job-right {
        max-width: 100%;
        height: auto;
        align-items: flex-start;
        justify-content: space-between;
    }

    .job-right .download-div {
        margin-top: 2rem;
    }

    .job-filters {
        flex-wrap: wrap;
        justify-content: flex-start;
        border-top: 1px solid lightgray;
    }

    .jobfilter {
        margin-top:2rem;
    }


}