.joblisting {
    display:flex;
    justify-content: space-between;
    box-shadow: 0 15px 20px -5px rgba(13,113,130,0.15);
    border-radius: 5px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    /* padding-top: 3rem; */
    padding: 3rem;
}

.job-info {
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    width: 50%;
}

.joblisting img {
    width: 200px;
}

.joblisting div {
    display:flex;
    flex-direction: column;
}

.joblisting div .row {
    display:flex;
    flex-direction:row;
}

.job-filters {
    display:flex;
    justify-content:right;
}